.loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    color: #333; /* Dark text color */
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  
  .loadingCircle {
    border: 5px solid #f3f3f3; /* Light grey border for the loader */
    border-top: 5px solid #3498db; /* Blue color for the loader */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  