.countryContainer {
    min-height: 100vh;
    padding-top: 12px;
}

.countryContainer h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}

.timelineContainer {
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 50px;
    margin: 24px 0;
    max-width: 50%;
}

.timelineLine {
    position: absolute;
    left: 23px;
    width: 3px;
    background: #333;
    top: 0;
    bottom: 0;
}


.postEvent {
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0 8px 4px var(--shadow-color);
    min-width: 100%;
    max-width: 100%;
    background-color: var(--foreground-color);
    margin-top: 12px;
    padding: 6px 6px 2px 18px;
    border-radius: 15px;
}

.postEvent:before{
    content: '';
    position: absolute;
    left: -30px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
}

.postEventInput {
    background-color: inherit;
    border: none;
    width: 100%;
    font-size: 24px;
    resize: none; /* Prevent manual resizing */
    overflow: hidden; /* Hide scrollbar */
    color: var(--text-color);
}

.postEvent p {
    padding-right: 8px;
    font-size: 24px;
}

.imageEvent {
    position: relative;
    margin-bottom: 30px;
    min-width: 100%;
    max-width: 100%;
}

.imageEvent img {
    box-shadow: 2px 2px 8px 4px var(--shadow-color);
    border-radius: 3%;
}

.imageEvent:before{
    content: '';
    position: absolute;
    left: -30px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
}

.imageContainer {
    max-height: auto; /* Natural height */
    max-width: 100%;
    margin-bottom: 10px;
}

.containerTools {
    display: flex;
    box-shadow: 0 0 8px 4px var(--shadow-color);
    background-color: var(--foreground-color);
    padding: 12px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-left: 30px;
}

.icon {
    font-size: 24px;
}

.toggleButton {
    align-items: flex-end;
    align-self: flex-end;
    width: 25%;
    padding: 12px 0;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
    margin-bottom: 24px;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {

    .containerEvent {
        max-width: 70vw;
    }


    .timelineContainer {
        padding-left: 40px; /* Adjust padding for smaller screens */
        min-width: 90%;
        max-width: 90%;
    }


    .postEvent p {
        font-size: 16px;
    }
    .containerTools {
        margin-left: 16px;
        padding: 6px;
    }
    .timelineLine {
        left: 14px; 
    }
    .postEventInput {
        width: 100%;
        font-size: 16px;
    }
    
    .toggleButton {
        width: 40%;
        height: 24px;
        font-size: 12px;
        padding: 2px;
        margin-bottom: 12px;
    }
}