.countryContainer {
    min-height: 100vh;
    padding-top: 12px;
}

.countryContainer h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.timelineContainer {
    justify-content: center;
    position: relative;
    padding-left: 50px;
    margin: 24px 0;
}

.timelineLine {
    position: absolute;
    left: 23px;
    width: 3px;
    background: #333;
    top: 0;
    bottom: 0;
}

.imageEvent {
    position: relative;
    margin-bottom: 30px;
}

.imageEvent img {
    box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.3);
}




.postEvent {
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.15);
    max-width: 50vw;
    background-color: rgb(234, 234, 234);
    margin-top: 12px;
    padding: 6px 6px 2px 18px;
}

.postEvent:before{
    content: '';
    position: absolute;
    left: -30px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
}

.postEventInput {
    background-color: inherit;
    border: none;
    width: 48vw;
    font-size: 24px;
    resize: none; /* Prevent manual resizing */
    overflow: hidden; /* Hide scrollbar */
}

.postEvent p {
    padding-right: 8px;
    font-size: 24px;
}

.imageEvent:before{
    content: '';
    position: absolute;
    left: -30px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
}

.imageContainer {
    width: 400px; /* Fixed width */
    height: auto; /* Natural height */
    margin-bottom: 10px;
}

.containerTools {
    display: flex;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.15);
    background-color: rgb(234, 234, 234);
    padding: 12px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-left: 30px;
}

.containerTools {
    display: flex;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.15);
    background-color: rgb(234, 234, 234);
    padding: 12px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-left: 30px;
}

.icon {
    font-size: 24px;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .containerEvent {
        max-width: 95%;
    }
    
    .imageContainer {
        width: 100%; /* Full width on smaller screens */
    }

    .containerEvent .postEvent{
        width: 100%;
    }

    .timelineContainer {
        padding-left: 40px; /* Adjust padding for smaller screens */
    }

    .postEvent {
        max-width: 80vw;
    }
    .postEvent p {
        font-size: 16px;
    }
    .containerTools {
        margin-left: 16px;
        padding: 6px;
    }
    .timelineLine {
        left: 14px; 
    }
    .postEventInput {
        width: 96vw;
        font-size: 16px;
    }
}