.countryContainer {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 12px;
}

.timelineContainer {
    position: relative;
    padding-left: 50px;
    margin: 20px 0;
}

.timelineLine {
    position: absolute;
    left: 20px;
    width: 2px;
    background: #333;
    top: 0;
    bottom: 0;
}

.postEvent, .imageEvent {
    position: relative;
    margin-bottom: 20px;
    padding-left: 60px;
}

.postEvent:before{
    content: '';
    position: absolute;
    left: -30px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
}

.imageEvent:before{
    content: '';
    position: absolute;
    left: -30px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
}

.imageContainer {
    width: 400px; /* Fixed width */
    height: auto; /* Natural height */
    margin-bottom: 10px;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .imageContainer {
        width: 100%; /* Full width on smaller screens */
    }

    .timelineContainer {
        padding-left: 30px; /* Adjust padding for smaller screens */
    }
}