.container {
    align-items: center;
    text-align: center;
    width: 50vw;
    min-height: 100vh;
}


.containerInput {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-width: 50vw;
    max-height: 24px;
}

.containerInput input{
    display: flex;
    min-width: 23vw;
    flex-grow: 1;
}

.container button {
    width: 90%;
}

/* Tablet-specific styles */
@media (max-width: 723px) {
    .containerInput {
        max-width: 90vw;
    }
}
