/* General Element Styles */
.containerHomeDiv h2 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;

}

.containerHomeDiv img {
  width: 100%;
  position: relative;
  transition: opacity 0.5s; /* Smooth transition for opacity changes */
  padding: 0;
  margin: 0;
}


/* Container Styles */
.containerHome {
  padding: 5% 10%;
}

.containerHome {
  text-decoration: none;
  color: var(--text-color);
}

.containerWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0;
}


.containerBio {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

/* Work Card Styles */
.workCard {
  max-width: 350px;
  max-height: 600px;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 24px;
  margin: 72px 12px;
  box-shadow: 0 0 6px 4px var(--shadow-color);
  background-color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px

}

.workCardInner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workCard:hover .workCardInner, .workCard:active .workCardInner{
  transform: rotateY(180deg);
}

.workCardFront, .workCardBack {
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workCardBack {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
}

.workCard img {
  min-width: 100%;
  margin-bottom: 12px;
}

.workCard h3 {
  font-size: 32px;
  margin-top: 0;
  color: var(--text-color);
}


.workCard p, .workCardTitle {
  font-size: 28px;
  margin-bottom: 0;
  color: var(--text-color);
}

.workCardTitle {
  font-weight: 500;
  font-size: 22px;
}

.workCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projectCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10% 25%;
  gap: 72px;
}


.projectContainer {
  display: flex;
  flex-direction: column;
}

.projectCardContainer h3 {
  display: flex;
  justify-content: center;
}

.stackItem {
  width: 50%
}

/* Bio Container Styles */
.containerBio h1, .containerBio p {
  font-weight: 500;
  font-family: 'Comic Sans MS';
}

.containerBio h1 {
  font-size: 64px;
  padding: 0 0 24px 0;
  color: #f4f4f4;
}

.containerBio p {
  font-size: 48px;
  color: #f4f4f4;
}

.containerAboutMe {
  display: flex;
  flex-direction: row;
}

.containerAboutMeImg {
  display: flex;
  width: 100%;
}

.containerAboutMeBio{
  display: flex;
  width: 60%;
}
/* About Me Container Styles */
.containerAboutMeBio p {
  display: flex;
  color: var(--text-about-me);
  font-size: 26px;
}

.containerAboutMeBio h1 {
  color: var(--text-color);
}

.containerAboutMeBio h2 {
  color: var(--header-about-me);
  font-size: 48px;
}

.resumeBut {
  display: flex;
  align-self: end; /* Aligns children vertically in the middle */
  gap: 12px;
}

.resumeButButton {
  height: 75px; /* Example height */
  background-color: inherit;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 12px;
  border-color: var(--text-color);
  padding: 12px;
}

.resumeBut h2 {
  margin: 0; /* Remove default margins from h2 to control button size */
  color: var(--text-color);
}

.resumeBut:hover h2 {
  color: #dfdfdf;
}

.resumeButImg {
  max-height: 75px; /* Same height as the button */
  max-width: 75px; /* Maintains aspect ratio */
  margin: 0 12px;
  padding: 0;
}

.containerAboutMe {
  align-items: center;
}

.itemHalfWidth {
  flex: 1 1 50%; /* This sets the item to take half of the parent container's width */
}

.imgPortrait {
  height: 50%
}


/* Media Queries */
@media (max-width: 1200px) {
  .containerHome {
    padding: 96px 100px;
  }
  .containerBio h1 {
    font-size: 2.5em;
  }
  .containerBio p {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .containerHome {
    padding: 48px 50px;
  }
  .containerBio h1 {
    font-size: 2em;
  }
  .containerBio p {
    font-size: 1em;
  }
  .workCardContainer {
    flex-direction: column;
  }

  .containerAboutMe {
    flex-direction: column;
    justify-content: center;
  }

  .containerWork {
    margin: 72px 0;
  }


  .workCard {
    margin: 24px 0 0 0;
  }
}

@media (max-width: 480px) {
  .containerBio {
    position: absolute;
    top: 13%;
    left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
  }

  .containerHome {
    padding: 24px 10px;
  }
  .containerBio h1 {
    font-size: 2em;
    padding: 0;
  }

  .containerBio p {
    font-size: 1.5em;
    padding: 0;
  }
  
  .containerAboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .containerAboutMeBio {
    gap: 0px;
    align-items: center;
    margin: 0 24px;
    width: 85vw;
  }

  .containerAboutMeBio h1 {
    font-size: 2.1em;
    display: flex;
  }

  .containerAboutMeBio h2 {
    font-size: 1.9em;
  }

  .containerAboutMe p {
    font-size: 1.5em;
  }

  .resumeBut {
    align-self: center;
  }

  .workCardContainer {
    flex-direction: column;
  }

  .workCard {
    margin: 24px 0 0 0;
    padding: 12px;
    max-width: 60vw;
  }

  .workCard img {
    max-width: 80%;
    max-height: 200px;
  }

  .containerWork h2 {
    font-size: 2em;
  }

  .workCard h3 {
    font-size: 1.5em;
  }

  .workCard p {
    font-size: 1.3em;
  }

  .projectCardContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 10% 0%;
    gap: 72px;
  }

  .projectCardContainer h4 {
    display: flex;
    font-size: 1.1em;
    padding: 0% 5%;
  }

  .backgroundImage {
    min-height: 40vh;
    width: 100%; /* Ensure the image takes the full width of its container */
    object-fit: cover;
    object-position: center; /* Center the image */
  }

  .resumeBut {
    padding: 10% 0;
  }
}