/* General Element Styles */
.containerHomeDiv h2 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;

}

.containerHomeDiv img {
  width: 100%;
  position: relative;
  transition: opacity 0.5s; /* Smooth transition for opacity changes */
  padding: 0;
  margin: 0;
}

.containerHomeDiv {
  background-color: inherit;
  color: inherit;
}

/* Container Styles */
.containerHome {
  padding: 5% 15%;
}

.containerHome {
  text-decoration: none;
  color: var(--text-color-dark);
}

.containerWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
}


.containerBio {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
}

/* Work Card Styles */
.workCard {
  min-width: 225px;
  max-width: 280px;
  max-height: 600px;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 24px;
  margin: 72px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
}

.workCard:hover {
  transform: translate(-15px, -15px);
  box-shadow: 5px 5px 10px rgba(1, 21, 7, 0.5);
}

.workCard img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 12px;
}

.workCard h3 {
  font-size: 24px;
  margin-top: 0;
  color: var(--text-color-dark);
}

.workCard p, .workCardTitle {
  font-size: 18px;
  margin-bottom: 0;
  color: var(--text-color-dark);
}

.workCardTitle {
  font-weight: 500;
  font-size: 22px;
}

.workCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projectCardContainer {
  display: flex;
  justify-content: center;
  padding: 10% 20%;
  gap: 72px;
}

.projectCardContainer h3 {
  display: flex;
  justify-content: center;
}

/* Bio Container Styles */
.containerBio h1, .containerBio p {
  font-weight: 500;
  font-family: 'Comic Sans MS';
}

.containerBio h1 {
  font-size: 64px;
  padding: 0 0 24px 0;
  color: #f4f4f4;
}

.containerBio p {
  font-size: 32px;
  color: #f4f4f4;
}

.containerAboutMe {
  display: flex;
  flex-direction: row;
}
/* About Me Container Styles */
.containerAboutMeBio p {
  color: var(--text-about-me-dark);
  font-size: 24px;
}

.containerAboutMeBio h1 {
  color: var(--text-color-dark);
}

.containerAboutMeBio h2 {
  color: var(--header-about-me-dark);
  font-size: 48px;
}

.resumeBut {
  display: flex;
  align-self: end; /* Aligns children vertically in the middle */
  gap: 12px;
}

.resumeButButton {
  height: 75px; /* Example height */
  background-color: inherit;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 12px;
  border-color: var(--text-color-dark);
  padding: 12px;
}

.resumeBut h2 {
  margin: 0; /* Remove default margins from h2 to control button size */
  color: var(--text-color-dark);
}

.resumeBut:hover h2 {
  color: #dfdfdf;
}

.resumeButImg {
  max-height: 75px; /* Same height as the button */
  max-width: 75px; /* Maintains aspect ratio */
  margin: 0 12px;
  padding: 0;
}

.containerAboutMe {
  align-items: center;
}

.itemHalfWidth {
  flex: 1 1 50%; /* This sets the item to take half of the parent container's width */
}


/* Media Queries */
@media (max-width: 1200px) {
  .containerHome {
    padding: 96px 100px;
  }
  .containerBio h1 {
    font-size: 2.5em;
  }
  .containerBio p {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .containerHome {
    padding: 48px 50px;
  }
  .containerBio h1 {
    font-size: 2em;
  }
  .containerBio p {
    font-size: 1em;
  }
  .workCardContainer {
    flex-direction: column;
  }

  .containerAboutMe {
    flex-direction: column;
    justify-content: center;
  }

  .containerWork {
    margin: 72px 0;
  }

  .workCard {
    margin: 24px 0 0 0;
  }
}

@media (max-width: 480px) {
  .containerBio {
    position: absolute;
    top: 13%;
    left: 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
  }

  .containerHome {
    padding: 24px 10px;
  }
  .containerBio h1 {
    font-size: 1.5em;
  }

  .containerBio p {
    font-size: 1em;
  }
  
  .containerAboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .containerAboutMeBio {
    gap: 0px;
    align-items: center;
    margin: 0 24px;
  }

  .containerAboutMeBio h1 {
    font-size: 2.1em;
    display: flex;
  }

  .containerAboutMeBio h2 {
    font-size: 1.9em;
  }

  .containerAboutMe p {
    font-size: 1.2em;
  }

  .resumeBut {
    align-self: center;
  }

  .workCardContainer {
    flex-direction: column;
  }

  .workCard {
    margin: 24px 0 0 0;
    padding: 12px 0;
    max-width: 50vw;
  }

  .workCard img {
    max-width: 80%;
    max-height: 200px;
  }

  .imgPortrait {
    min-width: 50%
  }

  .containerWork h2 {
    font-size: 2em;
  }

  .backgroundImage {
    height: 50vh;
    width: 100%; /* Ensure the image takes the full width of its container */
    object-fit: cover;
    object-position: center; /* Center the image */
  }

  .resumeBut {
    padding: 10% 0;
  }
}