
.containerScrapbook {
    height: 95vh
}

.containerScrapbookItem{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerText{
    gap: 100px;
}

.containerText h1 {
    font-weight: 400;
}

.containerRegion {
    display: flex;
    align-items: center;
    gap: 3vh;
}

.containerBio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.containerBio2{
    margin-top: 24px;
    width: 75vw
}
.containerBio2 h1{
    font-size: 2em;
}

@media only screen and (max-width: 768px) {
    .containerBio2{
        width: 90vw
    }
    .containerBio {
        display: flex;
        width: 100vw;
        height: auto;
        margin-bottom: 24px;
    }
    .containerBio h1{
        font-size: 1.2em;
    }
    .containerScrapbookItem {
        height: auto;
        padding: 12px 0 24px 0;
        /* border: 1px solid white */
    }
    .containerRegion {
        display: flex;
        align-items: center;
        gap: 0;
    }
    .containerText h1{
        font-size: 1.2em;
    }
}