/* BlogHomePage.module.css */

/* Basic Reset */
.blogHomepage * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blogCategorySection {
    margin-bottom: 36px;
}

/* Main container */
.blogHomepage {
    display: flex;
    padding: 24px 15%;
    min-height: 100vh;
}

.blogPostsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates three columns of equal width */
    grid-auto-rows: 16vh;
    grid-gap: 16px; /* Sets the gap between columns and rows */
    margin: 16px 0; /* Top and bottom margin */
    background-color: var(--background-color); /* Uses a CSS variable for background color */
    padding: 0 16px; /* Optional: Adds padding to the left and right of the grid */
}

.blogCard {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    grid-column: span 2;
    grid-row: span 2;
    cursor: pointer;
}

/* Styles for the large card */
.blogCardLarge {
    grid-column: span 2;
    grid-row: span 4;
}

/* Targets the image within the large blog card */
.blogCardLarge .blogCardImageLarge {
    max-height: 50vh;
    grid-column: span 2;
    grid-row:  0/3; /* Image spans the first two rows */
}

/* Targets the text area within the large blog card */
.blogCardLarge .blogCardTextLarge {
    max-height: 250px;
    overflow: hidden;
    grid-column: span 2;
    grid-row: 3/4; /* Text is placed in the third row */
}

.blogCardTextLarge h2 {
    display: flex;
    justify-content: center;
}

.blogCard:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.blogCardContent {
    padding: 15px;
}

.blogCardTitle {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.blogCardDescription {
    font-size: 1em;
    color: #666;
}

/* Loading and error messages */
.message {
    text-align: center;
    margin: 20px 0;
}

.blogCard:hover {
    box-shadow: none;
}

.blogCardImage {
    height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.blogCardLargeImage {
    height: 550px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.blogCardHoverContent {
    position: absolute;
    bottom: 0;
    background-color: inherit;
    width: 100%;
    padding: 10px 5px;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.blogCard:hover .blogCardHoverContent h2,
.blogCard:hover .blogCardHoverContent p {
    background-color: transparent;
    color: #f2f2f2;
}

.blogCard:hover .blogCardHoverContent {
    transform: translateY(0);
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
    color: #f2f2f2;
    z-index: 1;
}

.blogCardFooter {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.blogCard:hover .blogCardFooter {
    opacity: 1;
    visibility: visible;
}


.blogCardAuthor, .blogCardDate, .blogCardCategory {
    font-size: 1em;
}

.blogCardLargeAuthor, .blogCardLargeDate, .blogCardLargeCategory {
    font-size: 1.5em;
}

.blogCardCategories {
    display: flex;
    gap: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .blogCardContent {
        padding: 10px;
    }

    .blogCardTitle {
        font-size: 1em;
    }

    .blogCardDescription {
        font-size: 0.9em;
    }

    .blogPostsGrid {
        grid-template-columns: 1fr;
        grid-auto-rows: 150px;
    }
}
